.categoryCard {
    width: 330px; /* Set desired width */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 20px 40px rgba(98, 95, 95, 0.8); /* Very thick and prominent shadow */
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px ;
  }
  
  
  
  .cardImage {
    position: relative;
    width: 100%;
    height: 400px;
  }
  
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
  }
  
  .cardText {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Horizontally center text */
    align-items: center; /* Vertically center text */
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.2) 80%,
        rgba(0, 0, 0, 0) 100%
      );
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

